.nav {

    &__checkbox {
        display: none;
    }

    &__label {
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 400;
        border-radius: 50%;
        background-color: $color-white;
        box-shadow: 0 1rem 3rem rgba($black, .5);
        text-align: center;
        cursor: pointer;
    }

    &__bg {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-image: radial-gradient($color-pri-light , $color-pri-dark);
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 300;

        transition: transform .8s ease-in-out; 
        
    }

    &__element {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 350;

        opacity: 0;
        width: 0;
        transition: all .8s ease-in-out;
    }

    &__list {
        list-style: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 2rem;
        background-image: linear-gradient(120deg , transparent 0%,  transparent 50%, white 50%);
        background-size: 230%;
        transition: all .4s;
        
        }
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-pri;
            transform: translateX(.5rem);
        }
    }

    &__checkbox:checked ~ &__bg {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__element {
        opacity: 1;
        width: 100%;
    }

    &__icon {
        position: relative;
        margin-top: 3.5rem;
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: #333;
            display: inline-block;
           
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .3s;
        }

        &::before {top: -.8rem;}
        &::after {top: .8rem;}
    }

    &__checkbox:checked + &__label &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__label &__icon::before {
        top: 0;
        transform: rotate(45deg);
    }

    &__checkbox:checked + &__label &__icon::after {
        top: 0;
        transform: rotate(-45deg);
    }
 }