
@mixin clearfix {
    &::after {
        display: table;
        content: "";
        clear: both;
    }
}
/*
Media query manager

phone ~ 0-600px
tab-port ~ 600-900px
tab-land ~ 900-1200px
destop-normal ~ 1200-1800px
big screen ~ 1800 + 

*/
//by default em is 16px
// em basically direct browser ka font-size leta he wo parent element se affected nh hta jese hmne html ki body me hmne 62.5 
// assign kra wa he
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {  @content  }; //600px -> 600/16
    }

    @if $breakpoint == tab-port {
        @media (max-width:56.25em) {  @content  }; //900px
    }

    @if $breakpoint == tab-land {
        @media (max-width:75em) {  @content  }; //1200px
    }

    @if $breakpoint == med-desktop {
        @media (max-width:93.75em) {  @content  }; //1500px
    }
    
    @if $breakpoint == big-desktop {
        @media (min-width:112.5em) {  @content  }; //1800px
    }
}