$color-pri : #55c57a;
$color-pri-light : #7ed56f;
$color-pri-dark : #28b485;

$color-sec-light : #ffb900;
$color-sec-dark : #ff7730;

$color-ter-light : #2998ff;
$color-ter-dark : #5643fa;

$black : #111;

//grid

$grid-width : 114rem;
$gutter-hori : 6rem;
$gutter-ver : 8rem;