.btn {
    &:link , 
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block; /* because it is text thats why inline */
        padding: 1.5rem 4rem; /* 15px for top, bottom and 40px for left,rigt */
        transition: all .4s;
        border-radius: 10rem;
        font-size: 1.6rem;
        position: relative;

    }

    &:hover{
        transform: translateY(-3px); /* moving from bottom to top */
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2); /* 0 px for x , 10px for y 20 px for blur */

        &::after {
            transform: scaleX(1.6) scaleY(1.4); /* is se after ka size 1.5% double hjaega */
            opacity: 0;
        }
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0px .5rem 1rem rgba(0, 0, 0, .2);
    }

    &::after { /* after element is like child so content likhna lazmi hta he after ko show krane k liye  */
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left:0;
        z-index: -1; /* iska matlb after apne parent element yani btn k peche hga */
        transition: all .4s;
    }

    &--white {
        background-color: #fff;
        color: #777;

        &::after {
            background-color: #fff;
        }
    }
    
    &--animated {
         animation: moveInBottom .5s ease-out .75s;
         animation-fill-mode: backwards; 
    /* animation fill modde element ko shru se hi hi animation ki jaga rkhta he jese btn 5rem peche phle se hi hga */
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 1.6rem;
        text-decoration: none;
        color: $color-pri;
        padding: 3px;
        display: inline-block;
        border-bottom: 1px solid $color-pri;
        transition: all .4s;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        background-color: $color-pri;
        color: #fff;
        transform: translateY(-6px);
    }

    &:active {
        transform: translateY(-2px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    }
}