
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    font-size: 62.5%; /* by default it is 16px  10/16 = 0.625 */

    @include respond(tab-land) { //width <=1200
        font-size: 56.25%; // 1em = 9px 9/16
    }
   
    @include respond(tab-port) { //width <=900
        font-size: 50%; // 1em = 8px 8/16 =50
    }

    @include respond(big-desktop) {
        font-size: 75%; //1em = 12px 12/16
    }
}

body {
    box-sizing: border-box;
}